<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
  <meta charset="UTF-8" />
  <title><%= t['title'] %></title>
</head>
<body>
<hr />
<pre>
<code>
<!-- ここから -->
<%= t['body'] %>
<!-- ここまで -->
<code>
</pre>
<hr />
</body>
</html>